<img class="logo" src="http://www.novius.com/static/apps/agency_template/img/logo.png" alt="logo"/>
<main>
	<div class="message">
		<div class="grid-container">
			<div class="grid-x">
				<div class="small-4 cell">
					<img src="https://i.imgpile.com/ndJ15R.jpg" alt=""/>
				</div>
				<div class="small-8 cell">
					<div class="content">
						{{message}}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<style class="cp-pen-styles">@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
	box-sizing: border-box;
}

body {
	position: relative;
	display: block;
	min-height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-image: -webkit-radial-gradient(100% 250% at 50% -25%, #6eaad1 0%, #0a3772 60%);
	background-image: radial-gradient(100% 250% at 50% -25%, #6eaad1 0%, #0a3772 60%);
}

.logo {
	position: absolute;
	top: 2rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	max-width: 350px;
}

main {
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.message {
	position: relative;
}
.message .grid-container {
	max-width: 90%;
	min-width: 50rem;
}
.message .content {
	position: relative;
	padding: 4.25rem;
	height: 100%;
	color: white;
	font-size: 3rem;
	background: rgba(0, 0, 0, 0.15);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.message img {
	position: relative;
	display: block;
	width: 480px;
	height: 480px;
	-o-object-fit: cover;
	object-fit: cover;
}
</style>
